# ansible-zabbix60
# 
# Author y.iwata
# Date: 2023-06-30
#
# ! DO NOT CHANGE THIS FILE.
# ! This configuration file is managed by Ansible.

/var/log/snmptrap/snmptrap.log {
        weekly
        rotate 12
        compress
        delaycompress
        missingok
        notifempty
        create 0755 root zabbix
}