# ansible-zabbix60
# 
# Author y.iwata
# Date: 2023-06-30
#
# ! DO NOT CHANGE THIS FILE.
# ! This configuration file is managed by Ansible.

SNMPTrapperFile={{ zabbix_snmp_trapperfile }}
Timeout={{ zabbix_snmp_timeout }}
StartSNMPTrapper={{ zabbix_start_snmptrapper }}
